<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eburg_soft.top100currencies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.eburg_soft.top100currencies.common.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.eburg_soft.top100currencies.ui.activities.AboutActivity"></activity>
        <activity android:name="com.eburg_soft.top100currencies.ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ChartActivity"
            android:parentActivityName=".ui.activities.MainActivity">
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8721640890137447~4097472931" />
    </application>

</manifest>